body{
  background-color: lightyellow;
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1,h2,h3{
  color: darkblue;
}
p,ul,li{
  font-size: 16px;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
}
table,th,td{
  border: 1px solid black;
  padding: 8px;
}
img {
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  width:200px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:pink;
  color: white;
  cursor: pointer;
}
video{
  width:200px;
}

